
html, 
body {
    height: 100%;
}
#root{
  height: 100%;
}
.leftBar {
    width: 240px;
    height: 100%;
    position: fixed;
  }

  .flex {
    display: flex;
  }

  .header{
    width: calc(100% - 240px);
  }

  .main{
    width: calc(100% - 240px);
    height: 100%;
    right: 0;
    position: fixed;
    margin-top: 48px;
  }